/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #f0f1eb !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #002676 !default;

// Added font sizes and colors from the .tex file

// Font sizes
$note-page-font-size: 0.875rem; // Corresponds to \footnotesize
$mainFontSize: 40px;

// Colors
$burnt-orange: rgb(204, 128, 26); // Converted from .8, .5, .1
$text-gray: #808080; // Converted from .8, .8, .8
$berkeley-yellow: rgb(255, 205, 0); // Placeholder for berkeleyYellow
$red: rgb(255, 0, 0); // Standard red

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

.reveal .notes {
  font-size: $note-page-font-size;
}

.reveal {
  color: $text-gray;
}

.alex {
  color: $berkeley-yellow;
}

.paul {
  color: $red;
}

.reveal h2 {
    background-color: #002676; /* Example: Dark gray background */
    padding: 20px 0; /* Add padding for spacing */
    color: #ffffff; /* Example: White font color */
    text-align: center;
  }